<div style="width: 100%;height: 100%;">
    <gm-map  id='dragMarkerMap' gm-map-id="'dragMarkerMap'" gm-center="center" gm-zoom="zoom" gm-bounds="bounds" gm-map-type-id="mapTypeId" style="width: 100%;height: 100%;">
        <gm-markers gm-objects="houses"
                    gm-get-lat-lng="{ lat: object.lat, lng: object.lng}"
                    gm-get-marker-options="options.marker"
                    gm-on-dragend="setHouseLocation(object, marker)"
                    gm-on-click="getInfo(object, marker)">
        </gm-markers>
    </gm-map> 

    <nav id="icon-list">
        <ul class="clearfix" >            
            <li ng-repeat="type in types"><a ng-click="selectedType(type)"><i ng-class="type.icon"></i> <span>{{type.name}}</span></a></li>
        </ul>
    </nav>

    <!--div class="span6">
        <p>
            Drag the marker to a location.
        </p>
        <p>
            <label>Current location:</label>
            {{houses[0].lat| number:2}}, {{houses[0].lng| number:2}}
        </p>
        <p>
            <label>map location:</label>
            {{lat| number:2}}, {{lng| number:2}}
            {{lat}}, {{lng}}
        </p>
    </div>

    <nav>
        <ul>
            <li>
                <a><i id="draggable" class="icon-camera-retro"  style="font-size: xx-large;" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="pin" jqyoui-draggable="{animate:true, helper: 'clone'}" ></i></a>
            </li>
        </ul>
    </nav>


    <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable="{onDrop:'touchStartFn'}" style='height:50px;'>
    <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="list2" jqyoui-draggable ng-hide="!list2.title">{{list2.title}}</div>
    </div-->


</div>



