<!DOCTYPE html>
<html ng-app="demoapp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="css/app.css"/>


    </head>
    <body ng-controller="GoogleMapsController" style="overflow: hidden;">
    <leaflet center="center" layers="layers" markers="markers" height="100%" width="100%" style="position: absolute;left: 0px;top: 0px;"></leaflet>
    <nav id="icon-list">
        <ul class="clearfix" >            
            <li ng-repeat="type in types" ng-class="{active: $index == selectedIndex}"><a ng-click="selectedType($index)"><i ng-class="type.icon"></i> <span>{{type.name}}</span></a></li>
        </ul>    
    </nav>

    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet-src.js"></script>          
    <script src="lib/angular/angular1.2.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="lib/angular-leaflet/Google.js"></script>
    <script src="lib/angular-leaflet/angular-leaflet-directive.min.js"></script>
    <script>
                    var app = angular.module("demoapp", ["leaflet-directive"]);
                    app.controller("GoogleMapsController", ["$scope", function($scope) {
                            $scope.types = [
                                {
                                    name: 'beer',
                                    icon: 'icon-beer',
                                    path: 'BEER'
                                },
                                {
                                    name: 'toilet',
                                    icon: 'icon-female',
                                    path: 'FEMALE'
                                },
                                {
                                    name: 'food',
                                    icon: 'icon-archive',
                                    path: 'ARCHIVE'
                                },
                                {
                                    name: 'ATM',
                                    icon: 'icon-dollar',
                                    path: 'MONEY'
                                },
                                {
                                    name: 'Shopping',
                                    icon: 'icon-shopping-cart',
                                    path: 'CART'
                                },
                                {
                                    name: 'Taxi',
                                    icon: 'icon-truck',
                                    path: 'TRUCK'
                                },
                                {
                                    name: 'Doctor',
                                    icon: 'icon-h-sign',
                                    path: 'H_SIGN'
                                }
                            ];

                            $scope.serverResponse = [
                                {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    type: 'beer'
                                },
                                {
                                    lat: 33.749791735758656,
                                    lng: -84.38814896751114,
                                    type: 'beer'
                                },
                                {
                                    lat: 33.749643986159576,
                                    lng: -84.38834610987374,
                                    type: 'beer'
                                },
                                {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    type: 'toilet'
                                },
                                {
                                    lat: 33.749791735758656,
                                    lng: -84.38814896751114,
                                    type: 'toilet'
                                },
                                {
                                    lat: 33.749643986159576,
                                    lng: -84.38834610987374,
                                    type: 'toilet'
                                },
                                {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    type: 'food'
                                },
                                {
                                    lat: 33.749791735758656,
                                    lng: -84.38814896751114,
                                    type: 'food'
                                },
                                {
                                    lat: 33.749643986159576,
                                    lng: -84.38834610987374,
                                    type: 'food'
                                },
                                {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    type: 'ATM'
                                },
                                {
                                    lat: 33.749791735758656,
                                    lng: -84.38814896751114,
                                    type: 'ATM'
                                },
                                {
                                    lat: 33.749643986159576,
                                    lng: -84.38834610987374,
                                    type: 'ATM'
                                },
                                {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    type: 'Taxi'
                                },
                                {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    type: 'Taxi'
                                },
                                {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    type: 'Taxi'
                                }
                            ]

                            angular.extend($scope, {
                                defaults: {
                                    // tileLayer: "http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png",
                                    maxZoom: 21,
                                    path: {
                                        weight: 10,
                                        color: '#800000',
                                        opacity: 1
                                    }
                                },
                                center: {
                                    lat: 33.74972427276576,
                                    lng: -84.3881509791679,
                                    zoom: 21
                                },
                                markers: {
                                    m1: {
                                        lat: 33.74972427276576,
                                        lng: -84.3881509791679
                                    }
                                },
                                layers: {
                                    baselayers: {
                                        googleTerrain: {
                                            name: 'Google Terrain',
                                            layerType: 'TERRAIN',
                                            type: 'google'
                                        },
                                        googleHybrid: {
                                            name: 'Google Hybrid',
                                            layerType: 'HYBRID',
                                            type: 'google'
                                        },
                                        googleRoadmap: {
                                            name: 'Google Streets',
                                            layerType: 'ROADMAP',
                                            type: 'google'
                                        }
                                    }
                                }
                            });
                            $scope.selectedType = function(index) {
                                $scope.selectedIndex = index;
                                $scope.markers = [];
                                angular.forEach($scope.serverResponse, function(marker) {
                                    if (marker.type === $scope.types[index].name) {
                                        marker.path = $scope.types[index].path;
                                        addMarker(marker);
                                    }
                                });
                            };
                            function addMarker(marker) {
                                angular.extend($scope, {
                                    markers: marker
                                });
                            }
                        }]);
    </script>
</body>
</html>
